* {
box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-image: url(../public/img/a.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position:bottom;
}
h1, h2, h3, p, ul {
    display: flex;
    justify-content:center;
    margin-top: 0;
    margin-bottom:0;
    padding-top: 30px;
}
ul {
    list-style:none;
    padding-left:0;
}
button {
    display:inline-block;
    border:0;
    color:inherit; 
    cursor:pointer;
}
input{
    outline:0;
    color:inherit;
    font-family: inherit;
}